@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    width: 85%;
    margin: auto;
    font-family: 'Poppins',
            sans-serif;
}
a{
    text-decoration: none;
    color: black;
}
/* navbar */
#content{
    width: 100%;
    margin: auto;
}
#logoBox{
    text-align: center;
}
#logoBox>img{
    width: 200px;
    margin-right:10px ;
}
#topPara{
    border:1px solid purple;
    height:auto;
    padding:9px 0px 0px 2px;
    border-radius:8px ;
    font: 12px Poppins,sans-serif;
    width: 99%;
    text-align: center;
    color:#393939;
}
.container{
    align-content: left;
}
#searchbar{
    display: flex;
    align-items: center;
}
#divSearch{
    place-content: center;
   
}
#kishorilal{
    width: 900px;
    align-content: center;
    height: 30px;
    border-radius: 4px;
    text-align: center;
    color: grey;
    
}

#Sky{
    display: flex;
}
#Sky>img{
    margin-left: -1px;
    margin-right: 20px;
}
#sky>img+img{
    border-left:2px solid ;
}
#Baba{
color:black;
margin-left: 0px;
padding: 5px 0px 5px 5px;
display: flex;
margin: auto;
justify-content: center;
}
/* #box{
    
} */
#Baba>div{
    font-weight: lighter;
    padding: 0px 10px;
    margin: 0px 5px;
    cursor: pointer;
    font-size: 14px;
}

#Baba>div:nth-child(7){
   /* margin-left: px; */
   margin-right: -40px;
  

}
#Baba>div+p{
    flex-flow: nowrap;
}
#str{
    margin-left: 2  0px;
}
#navLinks{
    border: 0.5px solid ;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin: 5px 0px;
}
#navLinks>a{
  text-decoration: none;
    text-transform: uppercase;
    margin: 0px 15px;
    padding: 10px 0px;
    font-size: 0.8rem;
    color: black;
    letter-spacing: 2px;
}
#navLinks>a:nth-child(1)
{
color: rgb(156, 11, 154);
    font-size: 1.1rem;
}
#navLinks>a:hover{
    border-bottom: 2px solid green;
}
#line {
    margin: 0px 10px;
}
#cart,#str{
    cursor: pointer;
}
/* navbar end */

#rpsg{
    height: 100%;
    width: 100%;
}
#pics{
    height: auto;
    width: 100%;
    margin-top: 2px;
    border-radius: 10px;
}
#pics>img{
    height: 100%;
    width: 100%;
    border-radius: 10px;
}
#cards{
    height: auto;
    width: 100%;
    margin: auto;
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}
#cards>div{
    height: auto;
    width: 33%;
}
#cards>div>img{
    height: 100%;
    width: 100%;
    border-radius: 10px;
}
h2{
    display: flex;
    flex-direction: row;
}
  
h2:before,
h2:after {
    content: "";
    flex: 1 1;
    border-bottom: 2px solid rgb(219, 213, 213);
    margin: auto;
    margin-left: 25px;
    margin-right: 25px;
    width: 50%;
}
#selector{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
}
#selector>div{
    height: 100%;
    width: 25%;
    border: 1px red;
    border-radius: 10px;
}
#selector>div>img{

    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
#product{
    height:auto;
    width: 100%;
    margin:auto;
    display: flex;
    justify-content: space-between;
}
#product>div:hover{
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
#product>div{
    height: auto;
    width: 23%;
    text-align: center;
    margin: auto;
}
#product>div>img{
    height: 60%;
    width: 100%;
}
#product2{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
#product2>div:hover{
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
#product2>div{
    height: auto;
    width: 23%;
    text-align: center;
    margin: auto;
}
#product2>div>img{
    height: 60%;
    width: 100%;
}
#img1{
    height: auto;
    width: 100%;
    margin-top: 2px;
    border-radius: 10px;
}
#img1>img{
    height: 100%;
    width: 100%;
    border-radius: 10px;
}
#product3{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
#product3>div:hover{
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
#product3>div{
    height: auto;
    width: 23%;
    text-align: center;
    margin: auto;
}
#product3>div>img{
    height: 100%;
    width: 100%;
    border: 1px solid rgb(219, 211, 211);
    border-radius: 10px;
}
.delivery{
    width: 80%;
    height: 20px;
    border: 1px solid #B71761;
    color: #B71761;
    border-radius: 10px;
    margin: auto;
    font-size: 12px;
    padding-top: 5px;
}
#product4{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
#product4>div:hover{
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
#product4>div{
    height: auto;
    width: 23%;
    text-align: center;
    margin: auto;
}
#product4>div>img{
    height: 100%;
    width: 100%;
    border: 1px solid rgb(219, 211, 211);
    border-radius: 10px;
}

#imeges{
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
#imeges>div{
    height: 100%;
    width: 32%;
}
#imeges>div>img{
    height: 100%;
    width: 100%;
    border-radius: 10px;
}
#imeges2{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
#imeges2>div{
    height: 100%;
    width: 20%;
}
h3{
    margin-bottom: -15px;
    font-weight: bold;
}
.bottomBar{
    height: 50px;
    width: auto;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}
.priceing{
    height: 35px;
    width: 31%;
    border: 1px solid gray;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}
.priceing>p{
    /* margin-bottom: 15px; */
    margin: 0;
    padding: 5px;
}
.priceing>img{
    height: 100%;
    width: 100%;
    border-radius: 10px;
}
#noborder2{
    border: 0px;
}
/* footer */

@import url(https://fonts.googleapis.com/css2?family=Poppins&display=swap%27);

/* body {
    font-family: 'Poppins',
        sans-serif;
} */

#footerContent {
    width: 100%;
    margin: auto;
    font-size: 12px;
}

.footer-clean {
    width: 100%;
    height: auto;
    margin: 20px 0px;
    font-family: 'Poppins',
        sans-serif;
    color: grey;
    display: flex;
    justify-content: space-evenly;
}

.box>div>img {
    height: 80px;
    width: 170px;
}

#box {
    width: 100%;
    height: 300px;
    font-family: 'Poppins',
        sans-serif;
}

#box>div {
    bottom: -20px;
}

#btn {
    display: block;
}

#btn1>div:nth-child(2)>input {
    height: 40px;
    width: 130%;
    color: grey;
    border: 1px solid grey;

}

#btn1>div:nth-child(2) {
    margin-bottom: 20px;
}

#box1 {
    width: 100%;
    height: 300px;

    display: flex;
}

/* #box-5{
    margin-top: -400px;
} */
#fcontainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    margin: 40px 0px 0px 0px;

}

#fcontainer>div {
    font-size: 12px;
}

#fcontainer>div>div {
    margin-bottom: 30px;
}

#fcontainer>div>div>ul {
    cursor: pointer;
    color: grey;
    font-size: 12px;
}

h4 {
    color: black;
}

#imgcollection {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 0px 0px 20px 0px;
}

#imgcollection>div {
    width: 50%;
}

#imgcollection>div:nth-child(2) {
    display: flex;
    justify-content: flex-end;
}

#imgcollection>div>p>img {
    width: 400px;
    height: 100%;
    margin-left: 20px;

}

#btn {
    background-color: #92be4d;
    padding: 10px 20px 10px 20px;
    color: white;
}

#imgcollection>div:nth-child(1)>p:nth-child(1) {
    padding-top: 15px;
    width: 30%;
}

#imgcollection>div:nth-child(2)>p:nth-child(1) {
    margin-left: 10px;
    padding: 15px;
}

#imgcollection>div {
    display: flex;
    /* margin-right: 60px;
    margin-left: 70px; */
}

#imgcollection>div:nth-child(2)>p>img {
    width: 50%
}
