@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

*{
    margin: 0%;
    padding: 0%;
    font-family: 'Raleway', sans-serif;
}
#backgroundDiv>img{
    height: 100vh;
    position: relative;
    filter: blur(4px);
   
}


#formDiv{

    width: 32%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    margin:30px auto;
    background-color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    padding: 20px;
    position: absolute;
    top: 10%;
    right:30%;

    
    
}
h2{
    margin-bottom: 4%;
}

#signup{

    width: 100%;
    height: 100%;
    border: 1px solid rgb(230, 230, 230);
    margin: 3% auto;
    padding: 3%;
    
}

input{
    display: block;
    margin:15px 0px;
    padding: 3.5%;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid black ;
    background-color:white;
    opacity: 0.6; 
}
#submit{
    background-color: darkblue;
    color: white;
    height: 40px;
    margin-left: 25%;
}
#submit:hover{
    background-color: salmon;
    color:teal;
    opacity: 1;
}