@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',
    sans-serif;
}
#addContainer{
    width: 85%;
    margin: auto;
    margin-top: 20px;
    height: 700px;
    display: flex;
}
#leftContainer{
    border-right: 1px solid;
    height: 100%;
    width: 50%;
    box-sizing: border-box;
  
}
#leftContainer>h3 {
    text-align: center;
    margin: 10px 0px 30px 0px;
   
}
#saved{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(auto);
    gap: 20px;
}
#saved>div{
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
}
#saved>div>p{

    margin: 5px;
}
#rightContainer{
    height: 100%;
    width: 50%;
    
}
#rightContainer>h3{
    text-align: center;
    margin-top:10px ;
}
#addStore{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border: 1px solid;
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius:15px ;
    margin-top: 30px;
}
input{
    width: auto;
    height: 20px;
}
label{
    margin: 10px 0px 0px 0px ;
}
#MobileNo{
    margin-bottom: 20px;
}
#btn{
    height: 30px;
    /* background-color: blue; */
    background-color: #92be4d;
    border: none;
    color: white;
    cursor: pointer;
}
