@import url(https://fonts.googleapis.com/css2?family=Poppins&display=swap%27);

body {
    font-family: 'Poppins',
        sans-serif;
    font-size: small;
}

footer {
    width: 85%;
    margin: auto;
    margin-top: 35px;
}

.footer-clean {
    width: 80%;
    margin: auto;
    height: 300px;
    font-family: 'Poppins', sans-serif;
    color: grey;
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, 0.267);
    margin-bottom: 17px;
}

.ul-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
    padding-left: 80px;
}

.payment-img {
    height: 80px;
    width: 170px;
}

.other-img {
    height: 80px;
    width: 170px;
}

#box {
    width: 100%;
    height: 300px;
    font-family: 'Poppins',
        sans-serif;

    display: flex;
}

#box>div {
    bottom: -20px;
}

#btn {
    display: block;
}

#btn1>div:nth-child(2)>input {
    height: 40px;
    width: 130%;
    color: grey;
    border: 1px solid grey;

}

#btn1>div:nth-child(2) {
    margin-bottom: 20px;
}

#box1 {
    width: 100%;
    height: 300px;

    display: flex;
}

/* #box-5{
    margin-top: -400px;
} */
#container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 700px;

}

#container>div {
    margin-left: -20px;
}

#container>div>div {
    margin-bottom: 50px;
}

#container>div>div>ul {
    cursor: pointer;
    color: grey;
    font-size: 15px;
}

h4 {
    color: black;
}

#imgcollection {
    display: flex;
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.267);
    border-bottom: 1px solid rgba(0, 0, 0, 0.267);
    margin-bottom: 17px;
    align-items: center;
}

.payment-img {
    width: 140%;
    margin-left: 20px;
    height: auto;
}

#btn {
    background-color: #92be4d;
    padding: 10px 20px 10px 20px;
    color: white;
}

#imgcollection>div:nth-child(1)>p:nth-child(1) {
    padding-top: 15px;
    width: 30%;
}

#imgcollection>div:nth-child(2)>p:nth-child(1) {
    margin-left: 200px;
    padding: 15px;
}

#imgcollection>div {
    display: flex;
    /* margin-right: 60px;
    margin-left: 70px; */
}

#imgcollection>div:nth-child(2)>p>img {
    width: 50%
}

#container1 {
    border-top: 1px solid rgba(0, 0, 0, 0.253);
    display: flex;
    margin-top: -40px;
    padding-top: 20px;
}

#container1>div:nth-child(2) {
    display: flex;
    width: 12%;
    border-radius: 150%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#container1>div:nth-child(2)>img {
    width: 100%;
    border-radius: 150%;
}

#container1>div:nth-child(1) {
    padding-top: 0px;
}

#social {
    align-content: left;

}

#container1 {
    margin-left: 40px;
    color: grey;
    font-size: medium;
    margin-top: -70px;
}

#container1>div {
    margin-left: 80px;
}