#content{
    width: 100%;
    margin: auto;
    
}
#logoBox{
    text-align: center;
}
#logoBox>img{
    width: 350px;
    margin-right:10px ;
}
#topPara{
    border:1px solid purple;
    height:auto;
    padding:9px 0px 0px 2px;
    border-radius:8px ;
    font: 12px Poppins,sans-serif;
    width: 99%;
    text-align: center;
    color:#393939;
}
.container{
    align-content: left;
}
#searchbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 10px;
}
#divSearch{
    place-content: center;
   
}
#kishorilal{
    width: 900px;
    align-content: center;
    height: 30px;
    border-radius: 4px;
    text-align: center;
    color: grey;
    
}

#Sky{
    display: flex;
    height: 50px;
    width: 740px;
    margin-left: 4%;
    /* border: 1px solid black; */
    justify-content: space-between;
    padding-top: 2%;
}
#Sky>input{
     width: 640px;
     margin-top: 0%;
}
#Sky>img{
    margin-left: -1px;
    margin-right: 20px;
    height: 36px;
    width: 40px;
}
#sky>img+img{
    border-left:2px solid ;
}
#Baba{
color:black;
margin-left: 0px;
padding: 5px 0px 5px 5px;
display: flex;
margin: auto;
justify-content: center;
}
/* #box{
    
} */
#Baba>div{
    font-weight: lighter;
    padding: 0px 10px;
    margin: 0px 5px;
    cursor: pointer;
    font-size: 14px;
}

#Baba>div:nth-child(7){
   /* margin-left: px; */
   margin-right: -40px;
  

}
#Baba>div+p{
    flex-flow: nowrap;
}
#str{
    margin-left: 2  0px;
}
#navLinks{
    border: 0.5px solid ;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin: 5px 0px;
}
#navLinks>a{
  text-decoration: none;
    text-transform: uppercase;
    margin: 0px 15px;
    padding: 10px 0px;
    font-size: 0.8rem;
    font-weight: bold;
    color: black;
    letter-spacing: 2px;
}
#navLinks>a:nth-child(1)
{
    color: red;
}
#navLinks>a:hover{
    border-bottom: 2px solid green;
}
#line {
    margin: 0px 10px;
}
#cart,#str{
    cursor: pointer;
}
